.add-transaction-dialog-content {
    display: flex;
    gap: 1.5em;
    flex-direction: column;

    h1 {
        font-size: 1.25em;
        font-weight: 500;
        line-height: 0.825;
    }

    .search {
        display: flex;
        flex-direction: column;

        position: relative;

        &.active {
            overflow: visible !important;

            input {
                border-radius: 5px 5px 0 0;
            }

            > div {
                display: flex;
                flex-direction: column;
                border-radius: 0 0 5px 5px;
                border: 2px solid #002945;
                border-top: none;
                box-sizing: border-box;
                top: 100%;
                width: 100%;
                position: absolute;
                z-index: 1002;

                > div {
                    flex-grow: 1;
                    padding: 0.5em;
                    background-color: #00111c;
                    transition: all 0.3s ease;
                    cursor: pointer;
                    display: flex;
                    flex-direction: row;
                    gap: 0.5em;
                    align-items: center;

                    &:hover {
                        background-color: #0a2436;
                    }

                    img {
                        height: 1.5em;
                        padding: 0.25em;
                    }

                    > div {
                        p {

                            &:nth-child(2) {
                                font-size: 0.8em;
                                color: #969696;
                            }
                        }
                    }

                    &:not(:last-child) {
                        border-bottom: 1px solid #002945;
                    }
                }
            }
        }
    }

    input {
        border-radius: 0.5em;
        border: 2px solid #002945;
        background: none;
        padding: 1em;

        &:focus {
            outline: none;
        }
    }

    .input-fields {
        display: flex;
        flex-direction: column;
        gap: 0.5em;

        > div {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 2em;

            &:nth-child(1) {
                input {
                    border-radius: 0 0.5em 0.5em 0 !important;
                    padding-left: 0.5em;
                }
            }

            div {
                display: flex;
                align-items: stretch;
                flex-direction: row;
                width: 10em;

                .market-price-symbol {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    padding: 0 0.75em;
                    border-radius: 0.5em 0 0 0.5em;
                    border: 2px solid #002945;
                    border-right: none;
                    font-size: 0.9em;
                }
            }

            input {
                width: 100%;
                padding: 0.5em 1em;
                flex-grow: 2;
            }

            input[type="date"]::-webkit-calendar-picker-indicator {
                filter: invert(1);
            }
        }
    }

    .total {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        border: 2px solid #002945;
        border-radius: 5px;
        padding: 0.75em;

        span {
            display: flex;
            flex-direction: row;
            gap: 0.5em;

            i {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            p {
                &.buy-style {
                    color: #38a700;
                }

                &.sell-style {
                    color: #ef3e36;
                }
            }
        }
    }

    .add-trade-button {
        display: flex;
        justify-content: flex-end;

        button {
            width: 50%;
            padding: 0.5em 1em;
            border-radius: 5px;
            border: 2px solid;
            cursor: pointer;
            transition: all 0.3s ease;

            &.buy-style {
                border-color: #38a700;
                background-color: rgba(56, 167, 0, 0.5);

                &:hover {
                    background-color: rgba(56, 167, 0, 0.75);
                }
            }

            &.sell-style {
                border-color: #ef3e36;
                background-color: rgba(239, 62, 54, 0.5);

                &:hover {
                    background-color: rgba(239, 62, 54, 0.75);
                }
            }

            &:active {
                outline: none;
            }
        }

        .spinner {
            width: 50%;
            padding: 0.5em 1em;
            border-radius: 5px;
            border: 2px solid;
            cursor: wait;
            height: 33.33px;
            box-sizing: border-box;

            i {
                display: flex;
                align-items: center;
                justify-content: center;
                animation: spinner 1s infinite ease-in-out;

                @keyframes spinner {
                    0% {
                        transform: rotate(0deg);
                    }
                    100% {
                        transform: rotate(360deg);
                    }
                }
            }

            &.buy-style {
                border-color: #38a700;
                background-color: rgba(56, 167, 0, 0.75);
            }

            &.sell-style {
                border-color: #ef3e36;
                background-color: rgba(239, 62, 54, 0.75);
            }
        }
    }

    .add-trade-error {
        text-align: center;
        color: #ef3e36bf;
    }
}
