.navbar-container {
    padding: 1em;
    height: max-content;
    border-right: 2px solid #002945;
    text-align: center;
    max-width: 3em;
    height: calc(100% - 2em);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    overflow: visible;

    *:not(i) {
        overflow: visible;
    }

    .logo {
        padding: 0;
        height: 3em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: calc(1em + 3px);
        border-bottom: 2px solid #002945;

        img {
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
            cursor: pointer;
        }
    }

    .tabs div, .tab-end div {
        position: relative;

        &:hover span {
            opacity: 100%;
            visibility: visible;
        }

        span {
            position: absolute;
            top: 50%;
            left: 100%;
            transform: translateY(-50%);
            padding: 0.5em;
            margin-left: 0.75em;
            transition: all 0.3s ease;
            opacity: 0%;
            visibility: hidden;
            background-color: #195075;
            border-radius: 5px;
            z-index: 10000;
            white-space: nowrap;

            &::after {
                content: " ";
                position: absolute;
                top: 50%;
                right: 100%;
                margin-top: -7.5px;
                border-width: 7.5px;
                border-style: solid;
                border-color: transparent #195075 transparent transparent;
            }
        }
    }

    .tabs {
        margin-top: 1em;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 0.5em;

        div {
            padding: 0.5em;
            cursor: pointer;
            border-radius: 5px;
            transition: all 0.3s ease;

            &:hover {
                background-color: #002945;
            }

            i {
                font-size: 1.5em;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    .tab-end div {
        padding: 0.5em;
        border-radius: 5px;
        transition: all 0.3s ease;
        cursor: pointer;

        &:hover {
            background-color: #002945;
        }

        i {
            font-size: 1.5em;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
