.table-component {
    height: 100%;

    overflow-y: auto;

    table {
        width: 100%;
        font-family: "Golos Text", Arial, Helvetica, sans-serif;
        border-spacing: 0;
        border-collapse: collapse;
        overflow-y: auto;

        thead {
            .headings {
                background-color: #002945;
                top: 0;
                position: sticky;
            }

            th {
                font-weight: 300;
                padding: calc(0.5em - 2px) 0.5em 0.5em 0.5em;
                text-align: left;

                &:not(:nth-child(1)) {
                    text-align: center;
                }

                div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 0.25em;
                    cursor: pointer;
                    width: min-content;
                    white-space: nowrap;
                    margin: auto;

                    i {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }

        tbody {
            overflow-y: auto;
            margin-top: 2em;

            tr {
                &.section-header-sticky {
                    position: sticky;
                    top: 33px;
                }

                &.importance-1 {
                    background-color: #011C30;
                    font-weight: 600;
                }

                td {
                    border-bottom: 1px solid #002945;
                    padding: 0.5em;
                    font-size: 0.9em;

                    &:not(:nth-child(1)) {
                        text-align: center;
                    }

                    p {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        gap: 0.55em;

                        i {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                        &.align-left-data {
                            justify-content: flex-start;
                        }

                        &.align-right-data {
                            justify-content: flex-end;
                        }

                        &.bold-data {
                            font-weight: 600;
                        }

                        &.italics-data {
                            font-style: italic;
                        }

                        &.underline-data {
                            text-decoration: underline;
                        }

                        &.color-data {
                            padding: 1px 5px;
                            width: min-content;
                            height: min-content;
                            margin: auto;
                            border: 2px solid;
                            border-radius: 2.5px;

                            &.style-positive {
                                background-color: #195c1c;
                                border-color: #38a700;

                                i {
                                    color: #70ff29;
                                }
                            }

                            &.style-negative {
                                background-color: #792a2a;
                                border-color: #ef3e36;

                                i {
                                    color: #ff6661;
                                }
                            }

                            &.style-neutral {
                                background-color: #bababa;
                                border-color: #808080;
                                color: #000000;

                                i {
                                    color: #808080;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
