.home {
    display: flex;
    flex-direction: row;

    .content {
        display: flex;
        flex-direction: column;
        height: calc(100vh - 2em);
        gap: 1em;
        width: 100%;
        padding: 1em;

        .dashboard-container {
            height: 95%;
        }
    }
}
